body {
  padding-top: 70px;
}

.section-padding {
  padding: 70px 20px;
}

.top-padding {
  padding-top: 15px;
}

.profile-img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid maroon;
}

.btn svg {
  vertical-align: middle;
}

h2 {
  font-weight: bold;
}

#modrinth-icon {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.card {
  transition: transform 0.3s ease;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.qol-logo {
  object-fit: contain;
}

.card:hover {
  transform: translateY(-5px);
}
